body{
    background-color: white;
}


.buttonText{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: #674636;
    border: none;
    margin-left: 40%;
}


.container{
    width: 95%;
    /* background-color:; */
    border-radius: 8px;
}

