body{
    background-color: white;
    
    background-image: url(img/port4_Cover_15-1.jpg);
    background-size:cover
}


.buttonText{
    color: white;
    text-decoration: none;
}

.btn{
    background-color: #674636;
    border: none;
    margin-left: 40%;
}


.container{
    width: 95%;
    /* background-color:; */
    border-radius: 8px;
    opacity: 0.9;
}




